/*
  General Styles
*/

body {
    background: -webkit-linear-gradient(#fff 40%, #e1e1e1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff 40%, #e1e1e1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff 40%, #e1e1e1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff 40%, #e1e1e1); /* Standard syntax */
}

body, h1, h2, p {
    font-family: 'Droid Sans', sans-serif;
}

h1, h2 {
    font-weight: bold;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 14px;
}

input[type=submit] {
    margin-top: 50px;
    background-color: #000066;
    font-weight: bold;
    font-size: 24px;
    box-shadow: 3px 3px 4px #888888;
}

.btn-primary[disabled]{
   background-color: #000066;
    border-color: #000066;
}

tr td {
    font-weight: bold;
    font-size: 18px;
    color: #000;
}

form{
    margin-bottom: 10%;
}

/*
 Component Specific Styles
*/
.qty {
    width: 20%;
    float: left;
    max-height: 30px;
}

.button-grp {
    float: left;
    margin-left: 5px;
    width: 18px;
}

.add, .subtract {
    height: 14px;
    float: left;
    width: 18px;
    background-color: #999;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-weight: normal;
}

.add {
    margin-bottom: 2px;
}

.delete {
    cursor: pointer;
}

.subtotal, .vat, .total {
    color: #666;
    font-size: 18px;
    font-weight: bold;
}

.subtotal span, .vat span, .total span {
    text-align: right;
    float: right;
    max-width: 20%;
    display: inline-block;
}

.total {
    color: #000;
    margin-top: 20px;
}

footer {
    background: #666666;
    padding: 10px 0;
    text-align: center;
    color: #fff;
}

footer .co-name{
    font-weight: bold;
}

/*
 Media Queries
*/

@media (min-width: 768px) {
    .subtotal span, .vat span, .total span {
        float: right;
    }
}

@media (min-width: 992px) {
    .container {
        margin-top: 5%;
    }

    .subtotal span, .vat span, .total span {
        float: none;
        padding: 0;
    }
}