/*
  General Styles
*/

body {
    background-color: #efefef;
}

body, h1, h2, p {
    font-family: 'Droid Sans', sans-serif;
}

h1, h2 {
    font-weight: bold;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 14px;
}

input[type=submit] {
    margin-top: 50px;
}

tr td {
    font-weight: bold;
    font-size: 18px;
    color: #000;
}

/*
 Component Specific Styles
*/
.qty {
    width: 20%;
    float: left;
    max-height: 30px;
}

.button-grp {
    float: left;
    margin-left: 5px;
    width: 18px;
}

.add, .subtract {
    height: 14px;
    float: left;
    width: 18px;
    background-color: #999;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-weight: normal;
}

.add {
    margin-bottom: 2px;
}

.subtotal, .vat, .total {
    color: #666;
    font-size: 18px;
    font-weight: bold;
}

.subtotal span, .vat span, .total span {
    text-align: right;
    float: right;
    max-width: 20%;
    display: inline-block;
}

.total {
    color: #000;
    margin-top: 20px;
}

/*
 Media Queries
*/

@media (min-width: 768px) {
    .subtotal span, .vat span, .total span {
        float: right;
    }
}

@media (min-width: 992px) {
    .container {
        margin-top: 5%;
    }

    .subtotal span, .vat span, .total span {
        float: none;
        padding: 0;
    }
}